/* Google Fonts */
.open-sans-normal {
  font-family: "Open Sans", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

/* Common Style */
*{
    margin: 0;
    padding: 0;
}

.text-primary{
    color: #FD6E0A;
}

.btn-primary{
    font-size: 20px;
    font-weight: 800;
    color: #fff;
    background-color: #FD6E0A;
    padding: 15px 30px;
    border-radius: 10px;
    border: 0;
}

.btn-secondary{
    font-size: 20px;
    font-weight: 800;
    color: #FD6E0A;
    padding: 15px 30px;
    background: none;
    border-radius: 10px;
    border: 2px solid #FD6E0A;
}

.dark-1{
    color: #181818;
}

.dark-2{
    color: #474747;
}

.dark-3{
    color: #757575;
}

/* Header Styles */
.header{
    background: #FFF8F3;
    background-image: url('../Images/developer.png'), url('../Images/header_bg.png');
    background-repeat: no-repeat;
    background-position: left, bottom right;
}

/* Nav Styles */
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 200px;
    padding-top: 30px;
}

.nav-title{
    font-weight: 800;
    font-size: 45px;
}

nav ul{
    display: flex;
    align-items: center;
}

nav ul li{
    list-style: none;
    margin-left: 35px;
}

nav ul li a {
    text-decoration: none;
    font-size: 20px;
}

/* Banner Styles */
.banner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 35px 0 200px;
}

.banner-content{
    max-width: 585px;
}

.banner-profile{
    width: 580px;
}

.banner-greetings{
    font-size: 45px;
    font-weight: 700;
}

.banner-title{
    font-size: 85px;
    font-weight: 800;
}

.banner-description{
    font-size: 18px;
    margin: 25px 0;
}